{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 
<html>
  <body>
<div class="container">
  <div class="employee-container">
    <div class="row">
      <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="http://resources.panderasystems.com/wp-content/uploads/2018/09/slip-maan.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Benjamin<br><span class="employee-role">Developer</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
        <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="https://www.duraplas.com.au/wp-content/uploads/2015/08/Smiling-young-casual-man-2.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Jackson<br><span class="employee-role">Designer</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
        <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="http://www.pngonly.com/wp-content/uploads/2017/06/Man-Business-Transparent-PNG.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Franklin<br><span class="employee-role">Tester</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>



</html>
  </body>





{% endblock %}
