{% extends 'base.html.twig' %}

{% block title %}Hello PostulerController!{% endblock %}

{% block body %}

<style>
    h1 { color:blue; }
    h1 {text-align:center }
  </style>
<h1>Connexion ou créer un compte</h1>



{% endblock %}
