{% extends 'base.html.twig' %}

{% block title %}Hello OffredemploiController!{% endblock %}

{% block body %}

<h1>nos offres d'emplois</h1>
{% for item in offredemploi %}
        




   



  




     
{% endfor %}

{% endblock %}