{% extends 'base.html.twig' %}

{% block title %}Hello RecruteurController!{% endblock %}

{% block body %}
<h1>Connexion recruteur</h1>
<p>Vous avez des besoins en recrutement? emploitunisie,tn se charge de la sélection des candidats !
Inscrivez-vous et n'hésitez pas à préciser vos demandes.
Notre équipe commerciale prendra contact avec vous pour un devis. Spécialisé dans le recrutement en Tunisie et à l'international, notre bureau vous accompagne dans le développement de vos projets.
Notre cabinet de recrutement s'est forgé une réputation de taille dans le domaine du consulting et de conseils RH. Faites appel à nos services et profiter de l'expérience et du savoir-faire de nos consultants qualifiés pour analyser vos besoins en matière de ressources humaines.
Manwork vous accompagne dans la recherche de vos performances!
</p>


<h1>S'il vous plaît entrer votre email et mot de passe </h1>













{% endblock %}
