{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<html>
  <body>
<div class="container">
  <div class="employee-container">
    <div class="row">
      <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="http://resources.panderasystems.com/wp-content/uploads/2018/09/slip-maan.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Benjamin<br><span class="employee-role">Developer</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
        <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="https://www.duraplas.com.au/wp-content/uploads/2015/08/Smiling-young-casual-man-2.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Jackson<br><span class="employee-role">Designer</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
        <div class="col-lg-4 employee-1">
        <div class="employee">
          <div class="employee-image">
            <img src="http://www.pngonly.com/wp-content/uploads/2017/06/Man-Business-Transparent-PNG.png" class="img-fluid d-block m-auto" alt="employee-image">
            </div>
          <div class="employee-details">
            <div class="employee-name">
              <h1 class="text-center">Franklin<br><span class="employee-role">Tester</span></h1>
              </div>
            <div class="employee-social-link">
                <ul>
                  <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                  <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                  <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                  <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                  <li><i class="fa fa-behance" aria-hidden="true"></i></li>
              </ul>
          </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>



</html>
  </body>


<main>
  <div class="card">
    <div class="left">
          <img src="https://lh3.googleusercontent.com/ogw/ADea4I53IZ54wvTnQaHVKZEGEx7Knjw3Hko7wLfS-8oDGQ=s83-c-mo"/>
      <div class="img-border">
        <div class="img-border">
        </div>
      </div>
      <div class="card-info">
        <h2>Eli Moyal</h2>
        <p>Full stack developer</p>
      </div>
      <div class="card-btn">
        <button>Follow</button>
        <button>Message</button>
      </div>
    </div>
    <div class="right">
      <div>
        <h3>523</h3>
        <p>Posts</p>
        </div>
          <div>
        <h3>1387</h3>
        <p>Likes</p>
        </div>
          <div>
        <h3>146</h3>
        <p>Followers</p>
        </div>
    </div>
  </div>
</main>




@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

body {
  margin: 0 0;
  font-family: open sans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
  padding: 0 0;
}

main {
  background: rgb(204, 127, 79);
  background: linear-gradient(
    235deg,
    rgba(204, 127, 79, 1) 0%,
    rgba(237, 188, 107, 1) 100%
  );
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 20px 1px #0007;

  .left {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #786450;
    }

    .card-info {
      padding-top: 20px;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }

    .card-btn {
      padding-top: 40px;
      gap: 10px;

      button {
        width: 100px;
        background: transparent;
        border: 1px solid #786450;
        border-radius: 100vw;
        padding: 7px;
        font-weight: 700;
        font-size: 11px;
        color: #786450;
        cursor: pointer;
        transition: all 0.2s linear;

        &:hover {
          color: #fff;
          background: #786450;
        }
      }
    }

    .img-border {
      position: absolute;
      top: 24px;
      width: 80px;
      height: 80px;
      border-right: 1px solid transparent;
      border-left: 1px solid #786450;
      border-top: 1px solid #786450;
      border-bottom: 1px solid #786450;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 1.5s ease-in-out;
      
      &:hover{
        transform: rotate(-360deg);
      }
      
      .img-border {
        position: absolute;
        top: 2px;
        width: 74px;
        height: 74px;
        border-left: 1px solid transparent;
        border-right: 1px solid #786450;
        transition: transform 1.5s ease-in-out;
        
         &:hover{
        transform: rotate(720deg);
      }
      }
    }
        img {
          width: 70px;
          border-radius: 50%;
        }
  }

  .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2px;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      color: #796551;
      background: #f5e8df;
      cursor: pointer;
      transition: background 0.3s linear;

      &:hover {
        background: #d9bdaa;
      }

      p {
        font-size: 12px;
      }
    }
  }
}



{% endblock %}
